<div class="moveBelowHeader">
</div>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="contentSlide">
  <div class="mySlides w3-container w3-red">
    <h1><b>Did You Know?</b></h1>
    <h1><i>We are here to try to keep you up to date with everything you need or want.</i></h1>
  </div>
  
  <p class="mySlides">
    Your inventory could contain anything from the newly 
    released movies to what you plan on making for dinner.
  </p>

  <p class="mySlides">
    Everything can be added to your personal shopping list! 
    <%= image_tag('food.jpg', width: '640', height: '480', class: 'img-food') %>
  </p>
</div>

  <p class="mainInfo">
    
      </br>
    
  </p>
  
  <div class="content">
    <div class="content__container">
      <p class="content__container__text">
        GET ORGANIZED...
      </p>
      
      <ul class="content__container__list">
        <li class="content__container__list__item"> CDs </li>
        <li class="content__container__list__item"> DVDs </li>
        <li class="content__container__list__item"> Shopping Lists </li>
        <li class="content__container__list__item"> Wish Lists </li>
      </ul>
    </div>
  </div>

<div class="barcodeLink">
  <h3>
    Add an item to your inventory: 
  </h3>
  <%= link_to 'inventory' do %><%= image_tag('barcode.png', width: '100', height: '100', class: 'img-barcode') %><% end %>
</div>
<div class="logoImage">
  <p>
    <%= link_to "#" do %><%= image_tag('logo.png', width: '65', height: '65', class: 'logo-image') %><% end %>
  </a>
  </p>
</div>
  

</body>
</div>

