<div class="moveBelowHeader">
</div>

<h2>Your Inventory</h2>
  <div class="filters">
    <label class="label">Search:</label>
	  <input type="text" id="search">
	  <label class="label">By:</label>
    <select id="searchByField">
        <option value=".upcValue">UPC</option>
        <option value=".titleValue">Title</option>
        <option value=".brandValue">Brand</option>
        <option value=".descValue">Description</option>
    </select>
   
    <form action="/addItemToInventory" method="get">
           <label for="upc" class="label">Add item by  UPC:</label>
           <input type="text" name="upc" id="upc" value="">
           <input type="submit" name="submit" value="Submit" class="submit">
    </form>
	</div>

<div class ="displayInv">
  <div class="inventoryItems">	
		<div id="list"> 
    <% @inventory.where("user_id = ?", session[:user_id]).each do |item| %>
      <div class="itemWrapper">
          <p class="label">UPC: </p><p class="upcValue"><%= item.upc %></p><br>
          <p class="label">Title: </p><p class="titleValue"><%= item.title %></p><br>
          <p class="label">Brand: </p><p class="brandValue"><%= item.brand %></p><br>
          <p class="label">Description: </p><p class="descValue"><%= item.description %></p>
          <p class="hiddenImage" style="display:none"><%= item.image %></p>
          <br>
          <%= link_to "Delete Item", deleteItem_path(session[:user_id] , item.upc, item.id), method: :delete, data: {confirm: "Are you sure you want to delete this item?"} %>
      </div>
    <% end %> 
    </div>
  </div>
  
  <div class="itemPreview">
    <img src="assets/barcode.png" alt="Your item Image">
    <p class="previewLabel Pupc"></p>
    <p class="previewLabel Ptitle"></p>
    <p class="previewLabel Pbrand"></p>
    <p class="previewLabel Pdesc"></p>
    <p class="Pdefault">Select an item to view more information</p>
  </div>
</div>
  
</div>
 <script>  
$(document).ready(function(){  
 var selectedSearch = ".upcValue";
 
  $("#searchByField").change(function(){
    selectedSearch = this.value;
  })
  
  $("#search").keyup(function(){
    var self = this;
    $(".itemWrapper").each(function(){
     if (!$(this).find(selectedSearch).text().toLowerCase().includes(self.value.toLowerCase())){
       $(this).slideUp(150);
     } else {
       $(this).slideDown(150);
     }
    })    
  })
  
  $(".itemWrapper").click(function(){
     $(".itemWrapper").css("border", "3px double violet");
     $(this).css("border", "3px double white");
     $(".Pupc").text($(this).children(".upcValue").text());   
     $(".Ptitle").text($(this).children(".titleValue").text());
     $(".Pbrand").text($(this).children(".brandValue").text());
     $(".Pdesc").text($(this).children(".descValue").text());
     $(".itemPreview img").attr("src", $(this).children(".hiddenImage").text());
     $(".Pdefault").text("");
  })
    
}); 
 </script>
