<!DOCTYPE html>
<html>
<head>
  <title>WebRubyRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
</head>

<nav  class="navbar">
  <ul class="navul">
  
    <li><%=link_to 'Home', root_url %></li>
    <li><%=link_to 'Inventory', inventory_url %></li>
    <% if current_user %>
      <li><%=link_to 'My Account', userInfo_url %></li>
      <li class="omniauth">Signed in as: <%= current_user.name %></li>
      <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
    <% else %>
      <li ><%= link_to "Login", "/auth/google_oauth2", id: "sign_in" %></li>
      <li><%=link_to 'Signup', signup_url %></li>
    <% end %>
    <!-- TODO add a way to show user logo (icon image of user account) -->
    
  </ul>
</nav>

<body class="moveBelowHeader">
  <p>Main page content</p>
  <div>
    <%= yield %>
  </div>

</body>
</html>
