<!DOCTYPE html>
<html>
<head>
  <title>WebRubyRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  
  <%= favicon_link_tag asset_path('logo.png'), :rel => 'icon', :type =>  'image/png' %>

</head>

<nav  class="navbar">

  <ul class="navul">
  
    <li><%=link_to 'Home', root_url %></li>
    
    <li><%=link_to 'Add Item', addItemToInventory_url %></li>
    
    <li><%=link_to 'Reports', "/reports" %></li>
    <% if current_user %>
      <li><%=link_to 'My Account', userInfo_url %></li>
      <li><%=link_to 'My Inventory', inventory_url %></li>
      <div class="omniauthSignout">
        <li class="omniauth">Signed in as: <%= current_user.name %><%= image_tag(current_user.user_image, width: "40", height: "40", class: 'img-circle') %></li>
        <li class="sign_out"><%= link_to "Sign out", signout_path, class: "sign_out" %></li>
      </div>
    <% else %>
      <li ><%= link_to "Login", "/auth/google_oauth2?prompt=select_account", id: "sign_in" %></li>
      <!-- <li><%=link_to 'Signup', signup_url %></li> TODO: Add a google signup link to allow users to create their inventory system  -->
    <% end %>
    
  </ul>

</nav>

<body class="moveBelowHeader">

    <%= yield %>


</body>

<footer class="footer">

  <div class="contentCreators">
    <ul>
      <li><h4>Alex</h4></li>
      <li><a href="https://github.com/atanner6">https://github.com/atanner6</a></li>
      <!--
        If client is logged in with their own google account (not signed in with a business / student enterprise account) 
        they can use the following link 
        <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=atanner6@student.cvtc.edu">atanner6@student.cvtc.edu</a></li>
        Otherwise they can use this other link
      -->
      <li><a href="mailto:atanner6@student.cvtc.edu">atanner6@student.cvtc.edu</a></li>
      <li><a href="https://plus.google.com/u/0/105002290486320332546">Google+</a></li>
    </ul>
    <ul>
      <li><h4>Jamie</h4></li>
      <li><a href="https://github.com/jstrasburg">https://github.com/jstrasburg</a></li>
      <!--<li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=jstrasburg9@student.cvtc.edu">jstrasburg9@student.cvtc.edu</a></li>-->
      <li><a href="mailto:jstrasburg9@student.cvtc.edu">jstrasburg9@student.cvtc.edu</a></li>
      <li><a href="https://plus.google.com/u/0/103627658066622101801">Google+</a></li>
    </ul>
    <ul>
      <li><h4>Sam</h4></li>
      <li><a href="https://github.com/speterson96">https://github.com/speterson96</a></li>
      <!--<li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=speterson96@student.cvtc.edu">speterson96@student.cvtc.edu</a></li> -->
      <li><a href="mailto:shahn7@student.cvtc.edu">shahn7@student.cvtc.edu</a></li>
      <li><a href="https://plus.google.com/u/0/110120061011824835776">Google+</a></li>
    </ul>
    <ul>
      <li><h4>Skyler</h4></li>
      <li><a href="https://github.com/shahn7CVTC">https://github.com/shahn7CVTC</a></li>
      <!--<li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=shahn7@student.cvtc.edu">shahn7@student.cvtc.edu</a></li>-->
      <li><a href="mailto:shahn7@student.cvtc.edu">shahn7@student.cvtc.edu</a></li>
      <li><a href="https://plus.google.com/u/0/114089457979914844946">Google+</a></li>
    </ul>
  </div>
  
  <p>
    &copy; Copyright <%= Date.today.year %> Personal Inventory Systems
  </p>
</footer>

</html>
