<!DOCTYPE html>
<html>
<head>
  <title>WebRubyRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<nav>
  <%=link_to_unless_current 'Home', root_url %>
  <%=link_to_unless_current 'Inventory', inventory_url %>

</nav>
<body>

<%= yield %>

</body>
</html>
